data_dir = "/var/lib/vector/"

[sources.tcp]
    type = "tcp"
    address = "127.0.0.1:13370"

[transforms.json]
    type = "json_parser"
    inputs = ["tcp"]
    field = "message"

[sinks.elasticsearch]
    type = "elasticsearch"
    inputs = ["json"]
    host = "{{ elasticsearch_url }}"
    doc_type = "_doc"
    index = "{{ tag_name }}-%F"
